@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400700&display=swap');

 * {
box-sizing: border-box;
}

html {
    font-size: calc(100vw / 1600 * 100);
    @media (max-width: 768px) {
      font-size: calc(100vw / 768 * 100);
    }
}

@media (max-width: 768px) {
	html {
		 font-size: calc(100vw / 768 * 100);
	}
}

body {
min-height: 100vh;
padding: 0.5rem;
font-size: 0.2rem;
background-image: linear-gradient(to right top, #000000, #25141c, #402038, #572f5b, #654386, #654386, #654386, #654386, #572f5b, #402038, #25141c, #000000);
}

.main-title {
margin-bottom: 0.5rem;
text-align: center;
font-family: 'Abril Fatface', cursive;
font-size: 0.32rem;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
}

.main-title:before, .main-title:after {
content: '';
display: block;
margin: 0 0.2rem;
flex: 1;
border-bottom: 1px solid #2e8074;
}

.container {
width: 7rem;
margin: auto;
font-family: 'Source Sans Pro', sans-serif;
margin-top: 2%;
}

input[type='radio'] {
display: none;
}

input[type='radio']:checked + .item .title {
color: #fff;
border-color: #8d5fc9;
background-color: #8d5fc9;
}

input[type='radio']:checked + .item .title:after {
transform: rotate(180deg);
}

input[type='radio']:checked + .item .content {
margin-top: 0.3rem;
margin-bottom: 0.3rem;
height: auto;
opacity: 1;
visibility: visible;
transition: all 0.3s, opacity 0.7s;
}

.item {
display: block;
margin-bottom: 0.1rem;
}

.title {
padding: 0.1rem 0.3rem;
border-radius: 0.3rem;
color: white;
border: 1px solid;
font-weight: bold;
cursor: pointer;
transition: all 0.2s;
display: flex;
justify-content: space-between;
align-items: center;
}

.title:after {
content: '\25bc';
display: inline-block;
font-size: 12px;
}

.content {
width: 95%;
margin: 0 auto;
padding: 0 0.3rem;
line-height: 1.6;
color: white;
border: 1px solid;
border-width: 0 1px;
height: 0;
opacity: 0;
transition: all 0.2s;
visibility: hidden;
}

.title {
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn {
padding: 5px;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
text-decoration: none;
color: white;
font-size: small;
}

li{
  margin: 15px;
}

@media only screen and (max-width: 768px) {
  .container {
  width: auto;
  padding: 0 0.3rem;
    }
    .btn {
      font-size: xx-small;
    }
  }
  
